/*Styles for the grid to use for cells*/
.start{
    background: #f85701 !important;
}
.end{
    background: #0022a5 !important;  /* maybe #00a56f;*/
}
.visited{
    background: #c77e1f;
}
.green {
    background: green;
}
/*add .skipped class?*/

/*dark theme*/
@media (prefers-color-scheme: dark) {
    .considered{
        background: red !important;
    }
    .green{
        background: #206e2f8c;
    }
    .end{
        background: #00d38e !important;  /* #0022a5; for light theme = nicely legible in light theme, not so in dark theme, similarly to the green color in light theme,   or maybe #00a56f;*/
    }
    .endText{
        color: #00d38e;
    }
    .endCtverecek{
        background: #00d38e;
    }
    .visited:not(.green, .start){
        background: #c77e1fbf;
    }
    .skipped:not(.green, .start){
        background: #4eb54bc2; 
    }
    /*nutne pridat :not(.green, .start), aby to mathchlo specificitu (a prebilo, protoze je pod tim) .visited:not(.green, .start)*/
    .explored:not(.green, .start){
        background: #4eb54bc2; /*#4eb54b*/
    }
    .from{
        outline: 2px solid white;
    }
    .exploredText{
        color: #4eb54bc2;
    }
    .pathText{
        color: #008eff; /*#1b90ed*/
    }
}